.places__paragraph {
  margin: 0 auto 24px;
  width: calc(288px + 432 * ((100vw - 320px)/448));
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
}

.places__paragraph:last-of-type {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .places__paragraph {
    width: 100%;
    font-size: calc(16px + 2 * ((100vw - 768px)/256))
  }
}

@media screen and (min-width: 1024px) {
  .places__paragraph {
    font-size: 18px;
    line-height: 1.67;
  }
}