.header__lang-link {
  font-size: calc(24px + 4 * ((100vw - 320px)/448));
  line-height: 1.17;
  text-decoration: none;
  color: #fff;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link:active {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 28px;
  }
}