@import url('./__item/photo-grid__item.css');

.photo-grid {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  grid-gap: 12px;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    grid-gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    width: 100%;
  }
}