@import url('./__lang-links/header__lang-links.css');
@import url('./__lang-link/header__lang-link.css');
@import url('./__lang-link/_en/header__lang-link_en.css');

.header {
  margin: calc(20px + 14 * ((100vw - 320px)/448)) auto 0;
  min-width: 288px;
  width: calc(288px + 432 * ((100vw - 320px)/448));
  max-width: 928px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    margin: 34px auto 0;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: calc(928px + 256 * ((100vw - 1024px)/256));
    max-width: 984px;
  }
}