.footer__link {
  font-weight: 400;
  font-size: calc(32px - 2.5vw);
  line-height: 1;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 640px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.12;
  }
}