.lead__title {
  margin: 0;
  width: 90%;
  max-width: 720px;
  font-weight: 900;
  font-size: calc(40px + 56 * ((100vw - 320px)/448));
  line-height: 1.1;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 1.04;
  }
}