@import url('./__title/intro__title.css');

@import url('./__subtitle/intro__subtitle.css');

@import url('./__text/intro__text.css');

@import url('./__list/intro__list.css');

@import url('./__span-accent/intro__span-accent.css');

.intro {
  margin: calc(64px + 24 * ((100vw - 320px)/448)) auto;
  min-width: 288px;
  width: calc(288px + 432 * ((100vw - 320px)/448));
  max-width: 928px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .intro {
    margin: calc(88px + 4 * ((100vw - 768px)/256)) auto;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    margin: 92px auto;
    width: calc(928px + 256 * ((100vw - 1024px)/256));
    max-width: 984px;
  }
}