@import url('./__links/footer__links.css');
@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');

.footer {
  margin: calc(64px + 24 * ((100vw - 320px)/448)) auto 24px;
  min-width: 288px;
  width: calc(288px + 432 * ((100vw - 320px)/448));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .footer {
    margin: calc(88px + 4 * ((100vw - 768px)/256)) auto 24px;
    width: 93.75%;
    max-width: 928px;
    flex-direction: row;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin: 92px auto 24px;
    width: calc(928px + 256 * ((100vw - 1024px)/256));
    max-width: 1184px;
  }
}